<html>
<head></head>
<body>
<p>Respected Sir/Madam:</p>
<p>This automated mail is sent to report a cyber bullying crime.</p>
<p>City : {{city}}</p>
<p>The social media platform : {{platform}}</p>
<p>The screenshot of the chat has been inserted below: </p>
<img src="C:\Users\anjuv\OneDrive\Desktop\hacknitr\static\image.png" alt="">
<img src="https://drive.google.com/file/d/1SeHV04Ti-hLp8iN6k0G446hQDobD3cqA/view?usp=sharing" width="500" height="100">
<p>Regards, Coden't Team.</p>
</body>
</html>



